[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pysolr = "*"
praw = "*"
matplotlib = "*"
ipywidgets = "*"
pytesseract = "*"
requests = "*"
numpy = "*"
keras = "*"
sklearn = "*"
scrapy = "*"
pypiwin32 = "*"
imutils = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
