[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
jupyter = "*"
keras = "*"
matplotlib = "*"
numpy = "*"
scrapy = "*"
ipywidgets = "*"
praw = "*"
pillow = "*"
requests = "*"
sklearn = "*"
pytesseract = "*"
tensorflow = "*"
opencv-python = "*"
pysolr = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
