[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pysolr = "*"
praw = "*"
matplotlib = "*"
pytesseract = "*"
requests = "*"
numpy = "*"
keras = "*"
sklearn = "*"
scrapy = "*"
imutils = "*"
pexpect = "*"
tensorflow = "*"
opencv-python = "*"
jupyter = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.5"
