{% extends 'base.html' %}

<!-- IDEA: Replace this with direct link to reddit page? -->

{% block content %}
    {% if result %}
        <!-- {{ result }} -->
        <div id="meme-focus">
            <img src="{{result['url']}}" alt="{{result['title']}}">
            <div id="meme-focus-results">
                <table>
                    <tr>
                        <td>URL</td>
                        <td>{{ result['url'] }}</td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td>{{ result['title'] }}</td>
                    </tr>
                    <tr>
                        <td>Caption</td>
                        <td>{{ result['image_text'] }}</td>
                    </tr>
                    <tr>
                        <td>Permalink</td>
                        <td>{{ result['plink'] }}</td>
                    </tr>
                    <tr>
                        <td>Time Posted</td>
                        <td>{{ result['time'] }}</td>
                    </tr>
                    <tr>
                        <td>Subreddit</td>
                        <td>{{ result['sub'] }}</td>
                    </tr>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
