{% extends 'base.html' %}

{% block content %}
    {% if search_term %}
        <header>
            <div class="center center-text" id="small-header">
                <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static',filename='img/logo-black-xsmall.png') }}" alt="FindYourMeme">
                </a>
                <div id="search-box" class="center center-text">
                    <form action="/search" method="get">
                        <input type="text" name="s" id="search-box" value="{{ search_term }}">
                        <input type="number" name="n" id="no-terms-box" min="10" max="1000" value="50">
                        <input type="hidden" name="p" value="0">
                        <select name="t" selected="{{ time_since }}">
                            <option value="-1HOUR">1 Hour</option>
                            <option value="-1DAY">1 Day</option>
                            <option value="-7DAYS">1 Week</option>
                            <option value="-1MONTH">1 Month</option>
                        </select>
                        <input type="submit" value="Search">
                    </form>
                </div>
            </div>
    {% else %}
        <header class="full-height">
            <div class="center center-text vertical-center">
                <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static',filename='img/logo-black-small.png') }}" alt="FindYourMeme">
                </a>
                <div id="search-box" class="center center-text">
                    <form action="/search" method="get">
                        <input type="text" name="s" id="search-box">
                        <input type="number" name="n" id="no-terms-box" min="10" max="1000" value="50">
                        <input type="hidden" name="p" value="0">
                        <select name="t">
                            <option value="-1HOUR">1 Hour</option>
                            <option value="-1DAY">1 Day</option>
                            <option value="-7DAYS">1 Week</option>
                            <option value="-1MONTH">1 Month</option>
                        </select>
                        <input type="submit" value="Search">
                    </form>
                </div>
            </div>
        {% endif %}
    </header>
    <div id="main">
        <div>
            <div id="search-results">
                {% if results and search_term %}
                    {% for result in results %}
                        <a href="{{ url_for('meme', meme_id=result['id']) }}" target="_blank">
                            <img src="{{ result['url'][0] }}" alt="Image" class="meme-result">
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% if nav %}
        <div id="nav-buttons">
            <div id="nav-buttons-forms" class="center center-text">
                {% if page_no > 0 %}
                    <form action="/search" method="GET">
                        <input type="submit" value="Prev">
                        <input type="hidden" name="p" value="{{ page_no - 1 }}">
                        <input type="hidden" name="n" value="{{ no_terms }}">
                        <input type="hidden" name="s" value="{{ search_term }}">
                        <input type="hidden" name="t" value="{{ time_since }}">
                    </form>
                {% endif %}
                {% if results|length > 0 %}
                    <form action="/search" method="GET">
                        <input type="submit" value="Next">
                        <input type="hidden" name="p" value="{{ page_no + 1 }}">
                        <input type="hidden" name="n" value="{{ no_terms }}">
                        <input type="hidden" name="s" value="{{ search_term }}">
                        <input type="hidden" name="t" value="{{ time_since }}">
                    </form>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
