{% extends 'base.html' %}

{% block content %}
    {% if search_term %}
        <header>
            <div class="center center-text" id="small-header">
                <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static',filename='img/logo-black-xsmall.png') }}" alt="FindYourMeme">
                </a>
                <div id="search-box" class="center center-text">
                    <form action="/search" method="get">
                        <input type="text" name="s" id="search-box" value="{{ search_term }}">
                        <input type="submit" value="Search">
                    </form>
    {% else %}
        <header class="full-height">
            <div class="center center-text vertical-center">
                <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static',filename='img/logo-black-small.png') }}" alt="FindYourMeme">
                </a>
                <!-- <img src="{{ url_for('static',filename='img/logo-black-small.png') }}" alt=""> -->
                <div id="search-box" class="center center-text">
                    <form action="/search" method="get">
                        <input type="text" name="s" id="search-box">
                        <input type="submit" value="Search">
                    </form>
                </div>
            {% endif %}
        </div>
    </header>
    <div id="main">
        <div>
            <div id="search-results">
                {% if results and search_term %}
                    {% for result in results %}
                        <a href="{{ url_for('meme', meme_id=result[2]) }}" target="_blank">
                            <img src="{{ result[0] }}" alt="Image" class="meme-result">
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
