<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Find Your Meme{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='styles/main.css') }}" />
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <header>
        {% if search_term %}
            <div id="search-box" class="center">
                <form action="/search" method="get">
                    <input type="text" name="s" id="search-box" value="{{ search_term }}">
                    <input type="submit" value="Search">
                </form>
        {% else %}
            <div id="search-box" class="center">
                <form action="/search" method="get">
                    <input type="text" name="s" id="search-box">
                    <input type="submit" value="Search">
                </form>
            </div>
        {% endif %}
    </header>
    <div id="main">
        <div>
            <div id="search-results">
                {% if search_term %}
                    <p>Search term: {{ search_term }}</p>
                {% endif %}

                {% if results %}
                    {% for result in results %}
                        <div>
                            <img src="{{ result[0] }}" alt="Image" style="width: 500px;">
                            <p>{{ result[1] }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
